html, body{
        width: 100%; 
        margin: 0 !important; 
        padding: 0 !important;
}

.mainHeader{
        width: 101.5%;;
        height: 5em; 
        background-color: rgb(53, 53, 53); 
        position: fixed;
}

.logo{
    height: 6em;
    width: 12em;
    position: absolute;
    left: 0;
    margin-left: 7em;
    margin-top: 1em;
   

}

.homeBtn{
    margin-left: 4em !important;
}

.mainNav{
        
                a{
                    text-decoration: none !important; 
                    cursor: pointer !important;
                    color: white !important; 
                    font-size: 1.5em !important;
                    font-family: 'Staatliches', cursive !important;
                    margin-right: 0.5em;
                }

                .textLinks{
                    margin-left: 1em;
                    margin-right: 1em;
                }

                .cartLink{
                    margin-right: -13em;
                    
                }

                .magnifierLink{
                    margin-left:5rem;
                }

                .cartImg, .magnifierImg, .favoriteImg{
                    height: 1em;
                    width: 1em;
                    margin-left: 0.4em !important; 
                    margin-right: 0.4em !important;
                  
                }

                a > img:hover{
                    opacity: 0.7;
                }

}


.eventsInCart{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em !important;
    margin-top: 0.2em;
}

.eventTitleCart{
    margin-right: 4em;
}


 
  .cartTitle{
      
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.7em;
      border-bottom: 0.05em solid rgba(255,255,255,0.8); 
      width: 95%;
     
  }
