@import 'header.scss';
@import 'footer.scss';



.grid{
    
}

.event-design{
    padding: 2em;
    margin-top: -15em;

            div{
                margin-bottom: 0.5em;
                margin-top: 1em;
            }
}