@import 'header.scss';
@import 'footer.scss';
@import 'events/allEvents.scss';


main{
    height: 73em;
    background-color: whitesmoke;
    width: 100%;
}

/*.searchField{
    background: URL('../img/concertAudience.jpg');
    width: 100%;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 20em;
   
     

}*/

.gridMain{

    display: flex; 
    flex-wrap: wrap;
    margin-top: 5em;
  
    
}

.jumbotron{
    margin-top: 5em !important;
}

.eventDisplayMain, .mainAllEvents{
    height: 100%;
}
.event-design{
    padding: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    width: 20em;
    height: 30em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.1em 0.3em 0.3em rgba(0, 0, 0, .1); 
    transition: 0.5s ease-in-out;
            div{
                margin-bottom: 0.5em;
               
            }

            .eventTitle{
                font-family: 'Staatliches', cursive; 
                font-size: 2em;
                text-shadow: 0.02em 0.08em 0.1em rgba(0, 0, 0, .4);
            }

            .eventImg{
                height: 15em;
                width: 15em;
            }

            .eventPrice{
                font-size: 1em;
                font-family: 'Poppins', sans-serif;
            }

            .buyButton{
                border: 0.05em solid rgb(27, 27, 27);
                outline: none;
                padding: 0.3em 2em 0.3em;
                border-radius: 0.2em;
            }

            .buyButton:hover{
               
                background-color: rgb(27, 27, 27);
                transition: 0.5s;
                color: whitesmoke;
            }

}

.event-design:hover{
    box-shadow: 0 0.8em 2em 0 rgba(0, 0, 0, 0.2); 
    
}