.mainTitle{
    padding-top: 2em;
    background-color: whitesmoke;
    margin: 0;
    margin-bottom: -1em;
    text-align: center;
    font-family: 'Staatliches', cursive; 
    font-size: 4em;
    
}